<mat-card>
  <mat-card-title>
    Angular Material Menu Demo
  </mat-card-title>
  <!--<mat-card-content>
    <button mat-button [matMenuTriggerFor]="menuTest">
      Open Menu
    </button>

    <mat-menu #menuTest="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

  </mat-card-content>-->
  
  <form [formGroup]="personForm" (ngSubmit)="submit($event)">
    <p>Name: <input type="text" [formControl]="nameControl"/></p>
    <p>Age: <input type="text" formControlName="age"/></p>
    <div formGroupName="address">
      <p>Country : <input type="text" formControlName="country" /></p>
      <p>City: <input type="text" formControlName="city" /></p>
    </div>
    <div formArrayName="phones">
      Phone numbers: <button (click)="addPhone()">add</button>
      <p *ngFor="let control of phonesArrayControl.controls; let i = index">
        <input type="text" [formControl]="control" /><button (click)="removePhone(i)">-</button>
      </p>
    </div>
    <button>send</button>
    <p *ngIf="formSubmitted">form is sended</p>
  </form>
  <hr />
  <strong>Initital form value</strong>
  <pre>{{personForm.value | json}}</pre>
  <strong>Form value after update</strong>
  <pre>{{personForm.valueChanges | async | json}}</pre>
</mat-card>
