/* not necessary here, move this import to src/style.css */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

.main-content {
    position: relative;
    margin-top: 5px;
}

.mat-nav-list {
    display: flex;
}

.active {
    background: lightgrey;
}