<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    (Searching movies {{ title }})
  </h1>
</div>

<mat-nav-list>
  <mat-list-item (click)="routingTo(['search'])" [class.active]="isLinkActive('/search')">
    Search
    <!-- <a routerLink="/search" routerLinkActive="active">Search</a> -->
  </mat-list-item>
  <mat-list-item (click)="routingTo(['menu'])" [class.active]="isLinkActive('/menu')">
    Menu
    <!-- <a routerLink="/menu" routerLinkActive="active">Menu</a> -->
  </mat-list-item>
</mat-nav-list>

<div class="main-content">
    <breadcrumb></breadcrumb>
    <router-outlet ></router-outlet>
</div>
