<div>
  <mat-card *ngIf="movieInfo">
    <mat-card-title>
      {{ movieInfo.original_title }}
    </mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="4">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
          <img [src]="'http://image.tmdb.org/t/p/w300' + movieInfo.poster_path" 
          onError="this.src='../assets/no-image.png';"  [alt]="movieInfo.title" />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="2">
          <div class="movie-details">
            <div>
              <p>Overview:</p>
              {{ movieInfo.overview }}
            </div>
            <div>
              <p>Vote average:</p>
              {{ movieInfo.vote_average }}
            </div>
            <div>
                <p>Release date:</p>
                {{ movieInfo.release_date }}
              </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
  <!-- <pre>
    {{ movieInfo | json }}
  </pre>  -->
</div>
