<!-- <button (click)="counter$.next(1)">
  Click here
</button> 
<app-counter-component [score]="counter$ | async"></app-counter-component> -->

<!-- <ul *ngIf="items">
  <li *ngFor="let item of items.results">
    <img src="{{'http://image.tmdb.org/t/p/w185' + item.poster_path}}" />
  </li>
</ul> -->
<label class="search-input-lable" for="search-input">Search</label>
<input type="text"
  autocomplete="off"
  id="search-input"
  (input)="getItemsList($event.target.value)"
  [(ngModel)]="searchText">

<div *ngIf="pages && pages.list.length > 1" class="pages">
  <span>Pages:</span>
  <ul class="pages-list">
    <li *ngFor="let page of pages.list" (click)="openPage(page)" class="page-item"
    [ngClass]="[pages.current === page ? 'current' : '']">
      {{ page }}
    </li>
  </ul>
</div>

<div *ngIf="items && !items.results.length">
  Sorry no results found
</div>

<mat-grid-list cols="4"  *ngIf="items" class="movies-list">
  <mat-grid-tile *ngFor="let item of items.results">

    <div class="quick-view" (click)="openDialog(item)">
      <i class="material-icons">pageview</i>
    </div>
    <!--<img src="{{'http://image.tmdb.org/t/p/w185' + item.poster_path}}" 
    onError="this.src='../assets/no-image.png';"  alt="{{item.title}}"/>-->
    <img [src]="'http://image.tmdb.org/t/p/w185' + item.poster_path" 
    onError="this.src='../assets/no-image.png';"  [alt]="item.title" (click)="goToDetailsPage(item.id)" />
    <mat-grid-tile-footer>
      {{ item.title }}
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>