#search-input {
    height: 25px;
    border: none;
    border:solid 1px #ccc;
    border-radius: 5px;
    outline: 0;
    padding: 5px;
}
.movies-list {
    margin-top: 10px;
}
.search-input-lable {
    margin-left: 15px;
}
.pages {
    display: inline;
}

.pages-list,
.pages-list li{
    display: inline;
}

.pages-list {
    padding: 0px;
}

.page-item {
    cursor: pointer;
}

.page-item:hover {
    color: blue;
}

.page-item.current {
    color: red;
}

.quick-view {
    align-self: flex-start;
    cursor: pointer;
}