<h2 mat-dialog-title>Quick view</h2>
<div mat-dialog-content>
  <p>Overview</p>
  <p>{{ data.overview }}</p>
  <p>Release date</p>
  <p>{{ data.release }}</p>
</div>
<div mat-dialog-actions>
  <!-- send data.release to afterClosed -->
  <!-- <button mat-button [mat-dialog-close]="data.release">Apply</button> -->
  <button mat-button (click)="closeDialog()">Ok</button>
</div>
